/* App.css */

/* Corps de l'application */
.App {
  text-align: center;
  background: #1F2937; /* Fond sombre */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

/* Animation du logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* Entête de l'application */
.App-header {
  background-color: rgba(40, 44, 52, 0.85); /* Couleur de fond avec transparence */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  animation: slideDown 1.2s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.App-header:hover {
  transform: translateY(-5px); /* Animation au survol */
}

/* Lien */
.App-link {
  color: #FBBF24; /* Jaune accent */
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.App-link:hover {
  color: #F59E0B; /* Jaune vif */
  border-bottom: 2px solid #F59E0B;
}

/* Animation de rotation du logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation d'apparition */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Bouton */
.button-primary {
  background-color: #3B82F6; /* Bleu vif */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #2563EB;
  transform: scale(1.05);
}

/* Logo fixe en haut à gauche */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
}

.logo {
  width: 170px; /* Taille légèrement augmentée */
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); /* Effet de zoom au survol */
}



